<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment = "fragment-search">
<div class="hero-wrap img" style="background-image: url(/assets/images/bg_1.jpg);" >
  <div class="overlay"></div>
  <div class="container">
    <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-10 d-flex align-items-center ">
        <div class="text text-center pt-5 mt-md-5">
          <p class="mb-4">Tìm việc làm, Cơ hội việc làm và Nghề nghiệp</p>
          <h1 class="mb-5">Cách dễ dàng nhất để có được công việc mới của bạn</h1>
          <div class="ftco-counter ftco-no-pt ftco-no-pb">
            <div class="row">
              <div class="col-md-4 d-flex justify-content-center counter-wrap ">
                <div class="block-18">
                  <div class="text d-flex">
                    <div class="icon mr-2">
                      <span class="flaticon-visitor"></span>
                    </div>
                    <div class="desc text-left">
                      <strong class="number" data-number="46" th:text="${numberCandidate}"></strong>
                      <span>Ứng cử viên</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center counter-wrap ">
                <div class="block-18 text-center">
                  <div class="text d-flex">
                    <div class="icon mr-2">
                      <span class="flaticon-visitor"></span>
                    </div>
                    <div class="desc text-left">
                      <strong class="number" data-number="450" th:text="${numberCompany}"></strong>
                      <span>Công ty</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 d-flex justify-content-center counter-wrap">
                <div class="block-18 text-center">
                  <div class="text d-flex">
                    <div class="icon mr-2">
                      <span class="flaticon-resume"></span>
                    </div>
                    <div class="desc text-left">
                      <strong class="number" data-number="80000" th:text="${numberRecruitment}"></strong>
                      <span>Tuyển dụng</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <th:block th:if="${resultSearch != 'search-category'}">
          <div class="ftco-search my-md-5">
            <div class="row">
              <div class="col-md-12 nav-link-wrap">
                <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <a th:class="${resultSearch == 'search-recruitment' or resultSearch ==null} ? 'nav-link active mr-md-1' : 'nav-link'"
                     id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab"
                     aria-controls="v-pills-1" aria-selected="${resultSearch == 'search-recruitment'}">Tìm công việc</a>
                  <a th:class="${resultSearch == 'search-company'} ? 'nav-link active' : 'nav-link'"
                     id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab"
                     aria-controls="v-pills-2" aria-selected="${resultSearch == 'search-company'}">Tìm theo công ty</a>
                  <a th:class="${resultSearch == 'search-address'} ? 'nav-link active' : 'nav-link'"
                     id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab"
                     aria-controls="v-pills-3" aria-selected="${resultSearch == 'search-address'}">Tìm theo địa điểm</a>
                </div>
              </div>
              <div class="col-md-12 tab-wrap">

                <div class="tab-content p-4" id="v-pills-tabContent">

                  <div th:class="${resultSearch == 'search-recruitment' or resultSearch==null} ? 'tab-pane fade show active' : 'tab-pane fade'" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-nextgen-tab">
                    <form th:action="@{/search/search-another-recruitment}" method="post" class="search-job">
                      <div class="row no-gutters">

                        <div class="col-md-10 mr-md-2">
                          <div class="form-group">
                            <div class="form-field">
                              <div class="icon"><span class="icon-map-marker"></span></div>
                              <input type="text" name="keySearch" class="form-control" placeholder="Tìm kiếm công việc" required>
                            </div>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-group">
                            <div class="form-field">
                              <button type="submit" class="form-control btn btn-primary">Tìm kiếm</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div th:class="${resultSearch == 'search-company'} ? 'tab-pane fade show active' :'tab-pane fade'" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                    <form th:action="@{/search/search-another-company}" method="post" class="search-job">
                      <div class="row no-gutters">

                        <div class="col-md-10 mr-md-2">
                          <div class="form-group">
                            <div class="form-field">
                              <div class="icon"><span class="icon-map-marker"></span></div>
                              <input type="text" name="keySearch" class="form-control" placeholder="Tìm kiếm theo công ty" required>
                            </div>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-group">
                            <div class="form-field">
                              <button type="submit" class="form-control btn btn-primary">Tìm kiếm</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div th:class="${resultSearch == 'search-address'} ? 'tab-pane fade show active' : 'tab-pane fade'" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-performance-tab">
                    <form th:action="@{/search/search-another-address}" method="post" class="search-job">
                      <div class="row no-gutters">
                        <div class="col-md-10 mr-md-2">
                          <div class="form-group">
                            <div class="form-field">
                              <div class="icon"><span class="icon-map-marker"></span></div>
                              <input type="text" name="keySearch" class="form-control" placeholder="Tìm kiếm theo địa điểm" required>
                            </div>
                          </div>
                        </div>
                        <div class="col-md">
                          <div class="form-group">
                            <div class="form-field">
                              <button type="submit" class="form-control btn btn-primary">Tìm kiếm</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </th:block>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>