<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: fragment-header}"></head>
<body>
<div th:replace="~{fragments/header :: fragment-navbar}"></div>

<div class="hero-wrap hero-wrap-2" style="background-image: url('/assets/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-12 text-center mb-5">
                <p class="breadcrumbs mb-0"><span class="mr-3"><a th:href="@{/}">Trang chủ <i class="ion-ios-arrow-forward"></i></a></span>Chi tiết <span></span></p>
                <h1 class="mb-3 bread">Chi tiết công việc</h1>
            </div>
        </div>
    </div>
</div>
    <!--    =====================================Display the details of recruitment=====================================-->
<section style="margin-top: 10px" class="site-section">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div class="border p-2 d-inline-block mr-3 rounded">
                        <img width="100" height="100" th:src="@{'/'+${recruitment.company.logoPath}}" alt="Image">
                    </div>
                    <div>
                        <h2></h2>
                        <div>
                            <span class="icon-briefcase mr-2"></span><a style="color:black;" th:utext="${recruitment.company.nameCompany}" th:href="@{'/user/detail-company/'+${recruitment.company.id}}" class="ml-0 mr-2 mb-2"></a>
                            <span  class="icon-room mr-2"></span ><span th:utext="${recruitment.address}" class="m-2"></span>
                            <span class="icon-clock-o mr-2"></span><span th:text="${recruitment.type}" class="m-2"></span>
                        </div>
                        <input type="hidden">
                    </div>
                </div>
            </div>
            <div class="col-lg-4" sec:authorize="not hasAuthority('RECRUITER')">
                <div class="row">
                    <div class="col-6">
                        <input type="hidden" id="idReMain" th:value="${recruitment.id}">
                        <a id="saveJobButton" th:onclick="save1()" class="btn btn-block btn-light btn-md">
                            <span th:class="${saveJob==null} ? 'icon-heart-o mr-2 text-danger' : 'icon-heart mr-2 text-danger'"></span>
                            <span th:text="${saveJob==null} ? 'Lưu' : 'Đã lưu'"></span>
                        </a>
                    </div>
                    <div class="col-6">
                        <a  th:id="${'applyButton'}+${recruitment.id}" th:data-target="${'#exampleModal'}+${recruitment.id}" th:onclick="'showModal(' +${recruitment.id}+ ')'" class="btn btn-primary py-2 apply-job-button">Ứng tuyển</a>
                        <a th:id="${'applyText'}+${recruitment.id}"></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="mb-5">
                    <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Mô tả công việc</h3>
                    <p th:utext="${recruitment.description}"></p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="bg-light p-3 border rounded mb-4">
                    <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Tóm tắt công việc</h3>
                    <ul class="list-unstyled pl-3 mb-0">
                        <li class="mb-2"> <strong class="text-black">Ngày tạo: </strong> <span th:text="${recruitment.createdAt}"></span> </li>
                        <li class="mb-2"><strong class="text-black">Kiểu công việc: </strong> <span th:text="${recruitment.type}"></span></li>
                        <li class="mb-2"><strong class="text-black">Loại công việc: </strong> <span th:text="${recruitment.category.name}"></span></li>
                        <li class="mb-2"><strong class="text-black">Kinh nghiệm: </strong> <span th:text="${recruitment.experience}"></span></li>
                        <li class="mb-2"><strong class="text-black">Địa chỉ: </strong> <span th:text="${recruitment.address}"></span></li>
                        <li class="mb-2"><strong class="text-black">Lương: </strong> <span th:text="${recruitment.salaryFormatted}"></span></li>
                        <li class="mb-2"><strong class="text-black">Số lượng: </strong><span th:text="${recruitment.quantity}"></span></li>
                        <li class="mb-2"><strong class="text-black">Hạn nộp cv: </strong><span th:text="${recruitment.deadlineFormatted}"></span></li>
                    </ul>
                </div>

                <div class="bg-light p-3 border rounded">
                    <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Share</h3>
                    <div class="px-3">
                        <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-facebook"></span></a>
                        <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-twitter"></span></a>
                        <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-linkedin"></span></a>
                        <a href="#" class="pt-3 pb-3 pr-3 pl-0"><span class="icon-pinterest"></span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
    <!--    =====================================Display the details of recruitment=====================================-->
    <!--    ***********************************************************************************************************************-->
    <!--    =======================Display the model for applying to the job position=========================-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ứng tuyển: <span></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <label class="col-form-label">Chọn cv:</label>
                            <input type="file" class="form-control"
                                   th:id="${'fileUpload'}+${recruitment.id}" name="file" accept="application/pdf"  required>
                            <label for="fileUpload"
                                   class="col-form-label">Giới thiệu:</label>
                            <textarea rows="10" cols="3" class="form-control" id="fileUpload"></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" th:id="${'button1'}+${recruitment.id}" style="display: none" th:onclick="'apply1(' +${recruitment.id}+ ')'" class="btn btn-primary">Nộp</button>
                        <button type="button" th:id="${'button2'}+${recruitment.id}" style="display: none" th:onclick="'apply(' +${recruitment.id}+ ')'" class="btn btn-primary">Nộp</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    <!--    =======================Display the model for applying to the job position=========================-->
    <!--    ***********************************************************************************************************************-->
<section class="site-section" id="next">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="section-title mb-2" th:if="${show}">Danh sách ứng viên ứng tuyển</h2>
                <h2 class="section-title mb-2" th:if="${not #authorization.expression('hasAuthority(''RECRUITER'')') or !show}">Những công việc liên quan</h2>
            </div>
        </div>
        <!--    =======================Display a list candidates applying for this job position=========================-->
        <div class="row" sec:authorize="hasAuthority('RECRUITER')">
            <div class="col-lg-12 pr-lg-4">
                <div class="row">
                    <th:block th:if="${totalPages > 0 and show}" th:each="applyPost, iterStat : ${applyPosts}">
                        <div class="col-md-12" style="box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;margin: 20px auto;">
                            <div class="team d-md-flex p-4 bg-white">
                                <h5 style="font-size: 18px; font-weight: bold; color: #333;" th:text="${(currentPage - 1) * 5 + iterStat.index+1}" class="circle"></h5>
                                <img class="img" th:src="${applyPost.user.image != null ? '/' + applyPost.user.imagePath : 'https://st.quantrimang.com/photos/image/072015/22/avatar.jpg'}">
                                <div class="text pl-md-4">
                                    <h5 class="location mb-0" th:text="${applyPost.user.fullName}"></h5>
                                    <p style="display: block;color: black" th:text="${applyPost.user.address}"></p>
                                    <span class="position" style="display: block;color: black" th:text="${applyPost.user.email}"></span>
                                    <p class="mb-4" style="width: 700px" th:utext="${applyPost.user.description}">.</p>
                                    <p>Ngày ứng tuyển: <span th:utext="${applyPost.createdAt}"></span> </p>
                                    <div class="row">
                                        <p><a href="#" th:if="${applyPost.nameCv != null}" class="btn btn-primary" th:href="${'/'+applyPost.nameCvPath}" target="_blank" >Xem cv</a></p>
                                        <p th:if="${applyPost.status == 0}" style="margin-left: 10px">
                                            <a class="btn btn-outline-primary" th:href="@{'/recruiter/approve?userId=' + ${applyPost.user.id} + '&recruitmentId=' + ${recruitment.id} }">Duyệt</a>
                                        </p>
                                        <p th:if="${applyPost.status == 1}" style="margin-left: 10px;margin-top: 15px"><span style="color: #1e7e34;font-weight: bold" >Đã duyệt</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:if="${totalPages == 0 and show}">
                        <p style="color:red;">Chưa có ứng cử viên nào ứng tuyển</p>
                    </th:block>
                </div>
            </div>

<!--            <div class="col-lg-4 sidebar">-->
<!--                <div class="sidebar-box bg-white p-4 ftco-animate">-->
<!--                    <h3 class="heading-sidebar">Browse Category</h3>-->
<!--                    <form action="#" class="search-form mb-3">-->
<!--                        <div class="form-group">-->
<!--                            <span class="icon icon-search"></span>-->
<!--                            <input type="text" class="form-control" placeholder="Search...">-->
<!--                        </div>-->
<!--                    </form>-->
<!--                    <form action="#" class="browse-form">-->
<!--                        <label for="option-job-1"><input type="checkbox" id="option-job-1" name="vehicle" value="" checked> Website &amp; Software</label><br>-->
<!--                        <label for="option-job-2"><input type="checkbox" id="option-job-2" name="vehicle" value=""> Education &amp; Training</label><br>-->
<!--                        <label for="option-job-3"><input type="checkbox" id="option-job-3" name="vehicle" value=""> Graphics Design</label><br>-->
<!--                        <label for="option-job-4"><input type="checkbox" id="option-job-4" name="vehicle" value=""> Accounting &amp; Finance</label><br>-->
<!--                        <label for="option-job-5"><input type="checkbox" id="option-job-5" name="vehicle" value=""> Restaurant &amp; Food</label><br>-->
<!--                        <label for="option-job-6"><input type="checkbox" id="option-job-6" name="vehicle" value=""> Health &amp; Hospital</label><br>-->
<!--                    </form>-->
<!--                </div>-->

<!--                <div class="sidebar-box bg-white p-4 ftco-animate">-->
<!--                    <h3 class="heading-sidebar">Select Location</h3>-->
<!--                    <form action="#" class="search-form mb-3">-->
<!--                        <div class="form-group">-->
<!--                            <span class="icon icon-search"></span>-->
<!--                            <input type="text" class="form-control" placeholder="Search...">-->
<!--                        </div>-->
<!--                    </form>-->
<!--                    <form action="#" class="browse-form">-->
<!--                        <label for="option-location-1"><input type="checkbox" id="option-location-1" name="vehicle" value="" checked> Sydney, Australia</label><br>-->
<!--                        <label for="option-location-2"><input type="checkbox" id="option-location-2" name="vehicle" value=""> New York, United States</label><br>-->
<!--                        <label for="option-location-3"><input type="checkbox" id="option-location-3" name="vehicle" value=""> Tokyo, Japan</label><br>-->
<!--                        <label for="option-location-4"><input type="checkbox" id="option-location-4" name="vehicle" value=""> Manila, Philippines</label><br>-->
<!--                        <label for="option-location-5"><input type="checkbox" id="option-location-5" name="vehicle" value=""> Seoul, South Korea</label><br>-->
<!--                        <label for="option-location-6"><input type="checkbox" id="option-location-6" name="vehicle" value=""> Western City, UK</label><br>-->
<!--                    </form>-->
<!--                </div>-->

<!--                <div class="sidebar-box bg-white p-4 ftco-animate">-->
<!--                    <h3 class="heading-sidebar">Job Type</h3>-->
<!--                    <form action="#" class="browse-form">-->
<!--                        <label for="option-job-type-1"><input type="checkbox" id="option-job-type-1" name="vehicle" value="" checked> Partime</label><br>-->
<!--                        <label for="option-job-type-2"><input type="checkbox" id="option-job-type-2" name="vehicle" value=""> Fulltime</label><br>-->
<!--                        <label for="option-job-type-3"><input type="checkbox" id="option-job-type-3" name="vehicle" value=""> Intership</label><br>-->
<!--                        <label for="option-job-type-4"><input type="checkbox" id="option-job-type-4" name="vehicle" value=""> Temporary</label><br>-->
<!--                        <label for="option-job-type-5"><input type="checkbox" id="option-job-type-5" name="vehicle" value=""> Freelance</label><br>-->
<!--                        <label for="option-job-type-6"><input type="checkbox" id="option-job-type-6" name="vehicle" value=""> Fixed</label><br>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <!--    =======================Display a list candidates applying for this job position=========================-->
        <!-- ******************************************************************************************************************-->
        <!--    =====================================Display related job position=======================================-->
        <th:block th:each="recruitment, iterStat : ${listRelated}"  th:if="${not #authorization.expression('hasAuthority(''RECRUITER'')') or !show}">
            <div class="col-md-12">
                <div class="job-post-item p-4 d-block d-lg-flex align-items-center">
                    <div class="one-third mb-4 mb-md-0">
                        <div class="job-post-item-header align-items-center">
                            <span class="subadge" th:text="${recruitment.type}"></span>
                            <h2 sec:authorize="not hasAuthority('RECRUITER')" class="mr-3 text-black" ><a th:text="${recruitment.title}" th:href="${'/user/detail-post/'} +${recruitment.id}"></a></h2>
                            <h2 sec:authorize="hasAuthority('RECRUITER')" class="mr-3 text-black" ><a th:text="${recruitment.title}" th:href="${'/recruiter/detail-post/'} +${recruitment.id}"></a></h2>
                        </div>
                        <div class="job-post-item-body d-block d-md-flex">
                            <div class="mr-3"><span class="icon-layers"></span> <a th:href="@{'/user/detail-company/'+${recruitment.company.id}}" th:text="${recruitment.company.nameCompany}" ></a></div>
                            <div class="mr-3"><span class="icon-my_location"></span> <span th:text="${recruitment.address}"></span></div>
                            <div class="mr-3"><span class="ion-android-person"> </span><span th:text="${recruitment.totalApplyPeople}"></span></div>
                            <div><span th:inline="text">Id: </span><span th:text="${(currentPage - 1)*5 + iterStat.index + 1}"></span></div>
                        </div>
                    </div>

                    <input type="hidden" th:id="${'idRe'}+${recruitment.id}" th:value="${recruitment.id}">
                    <div sec:authorize="not hasAuthority('RECRUITER')" class="one-forth ml-auto d-flex align-items-center mt-4 md-md-0">
                        <div>
                            <a  th:onclick="'save(' +${recruitment.id}+ ')'" class="icon text-center d-flex justify-content-center align-items-center icon mr-2">
                                <span class="icon-heart"></span>
                            </a>
                        </div>
                        <a th:id="${'applyButton'}+${recruitment.id}" th:data-target="${'#exampleModal'}+${recruitment.id}" th:onclick="'showModal(' +${recruitment.id}+ ')'" class="btn btn-primary py-2">Apply Job</a>
                        <a id="applyText"></a>
                    </div>
                </div>
            </div>
            <!-- end -->
            <!--Modal-->
            <div class="modal fade" th:id="${'exampleModal'}+${recruitment.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ứng tuyển: <span th:text="${recruitment.title}"></span></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post" >
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12">
                                        <select th:id="${'choose'}+${recruitment.id}" th:onchange="'choosed(' +${recruitment.id}+ ')'" class="form-control" aria-label="Default select example">
                                            <option selected>Chọn phương thức nộp</option>
                                            <option value="1">Dùng cv đã cập nhật</option>
                                            <option value="2">Nộp cv mới</option>
                                        </select>
                                    </div>
                                    <div th:id="${'loai1'}+${recruitment.id}" style="display:none" class="col-12">
                                        <label for="fileUpload1"
                                               class="col-form-label">Giới thiệu:</label>
                                        <textarea id="fileUpload1" rows="10" cols="3" class="form-control"  th:id="${'text'}+${recruitment.id}" >

                                        </textarea>
                                    </div>
                                    <div th:id="${'loai2'}+${recruitment.id}" style="display:none" class="col-12">

                                        <label for="fileUpload2"
                                               class="col-form-label">Chọn cv:</label>
                                        <input id="fileUpload2" type="file" class="form-control"
                                               th:id="${'fileUpload'}+${recruitment.id}" name="file" required>
                                        <label for="fileUpload3"
                                               class="col-form-label">Giới thiệu:</label>
                                        <textarea id="fileUpload3" rows="10" cols="3" class="form-control"  th:id="${'text'}+${recruitment.id}" >

                                        </textarea>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                    <button type="button" th:id="${'button1'}+${recruitment.id}" style="display: none" th:onclick="'apply1(' +${recruitment.id}+ ')'" class="btn btn-primary">Nộp</button>
                                    <button type="button" th:id="${'button2'}+${recruitment.id}" style="display: none" th:onclick="'apply(' +${recruitment.id}+ ')'" class="btn btn-primary">Nộp</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--            Modal-->

        </th:block>
        <th:block th:if="${totalPages == 0 and not show} ">
            <p style="color: red;">Chưa có bài tuyển dụng nào</p>
        </th:block>
        <!--    =====================================Display related job position=======================================-->

        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li th:if="${currentPage>1}"><a th:href="@{'/'+${role} + '/detail-post/'+${recruitment.id}+'?pageNo='+${currentPage-1}}">&lt;</a></li>
                        <li class="active"><a th:href="@{'/'+${role}+'/detail-post/'+${recruitment.id}+'?pageNo='+${currentPage}}" th:text="${currentPage}"></a></li>
                        <li th:if="${currentPage<totalPages}"><a th:href="@{'/'+${role}+'/detail-post/' + ${recruitment.id} + '?pageNo='+${currentPage+1}}">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div th:if="${totalPages>0}">
            <span th:text="${currentPage + '/' + totalPages + ' trang'}"
                  style="font-size: 1em; bottom: 10px; right: 10px; color: white; background-color: #007bff; padding: 5px 10px; border-radius: 5px;">
            </span>
        </div>
    </div>
</section>
</body>
<script th:src="@{/assets/js/save-apply-job.js}"></script>
</html>